

.search {
    .input-control {
        height: 32px;
        padding: 0 40px 0 20px;
        border: none;
        border-radius: 50px;
        font-size: $font-size-sm;
        background-color: #f5f8ff;
    }
}